In [1]:
import pandas as pd
import numpy as np

In [2]:
packet_distance = ['22.5m', '23.4m', '23.85m', '24.3m', '24.75m', '25.2m', '25.65m', '26.1m',
                   '26.55m', '27m']

In [3]:
packet_distance_name = ['22_5m', '23_4m', '23_85m', '24_3m', '24_75m', '25_2m', '25_65m', '26_1m',
                   '26_55m', '27m']
# 문자열 리스트 하나로 만드는게 빠르긴 할 것 같다_
# 그대로 하면 뒤쪽에서 오류나기 때문에 리스트명 생성을 위해 언더바로 대체 리스트

packet_bytes = [10, 114] #20-110byte까지

In [4]:
packet_distance

['22.5m',
 '23.4m',
 '23.85m',
 '24.3m',
 '24.75m',
 '25.2m',
 '25.65m',
 '26.1m',
 '26.55m',
 '27m']

In [5]:
packet_distance_name

['22_5m',
 '23_4m',
 '23_85m',
 '24_3m',
 '24_75m',
 '25_2m',
 '25_65m',
 '26_1m',
 '26_55m',
 '27m']

In [6]:
packet_bytes

[10, 114]

In [7]:
packet_bytes_list = ['20bytes', '114bytes']

In [8]:
for i in packet_bytes:
    for j, k in zip(packet_distance, packet_distance_name):
        globals()['log_' + str(i) + 'bytes_distance_' + str(k)] = pd.read_csv('./log2/' + str(i) + 'bytes_distance_' + str(j) +'.log', 
                                                                                  delimiter=',', names=["Time","Id","Type", "Data",
                                                                                                        "Start delimiter", "Length",
                                                                                                        "Frame type", "16-bit source address",
                                                                                                        "RSSI", "Options", "RF data", "Checksum"])

In [9]:
whole_packet = 500

missed_packet = whole_packet - log_10bytes_distance_22_5m.shape[0]
missed_packet

24

In [10]:
# abnormal_packet_rate = (missed_packet + log_20_4_5[log_20_4_5["Length"] != 25].shape[0]) / whole_packet

abnormal_packet_rate = missed_packet / whole_packet

abnormal_packet_rate

0.048

In [11]:
def func(x):
    return int(x, 16)

In [12]:
import sys
mod = sys.modules[__name__]

# eval('log_' + str(i) + 'bytes_distance_' + str(j))

for i in packet_bytes:
    for j in packet_distance_name:
        if not globals()['log_' + str(i) + 'bytes_distance_' + str(j)].empty: #비어있는 데이터가 아니면 적절히 처리
            globals()['log_' + str(i) + 'bytes_distance_' + str(j)] = globals()['log_' + str(i) + 'bytes_distance_' + str(j)].drop(index = 0, axis = 0)
            globals()['log_' + str(i) + 'bytes_distance_' + str(j)].set_index("Id", inplace=True)
            
            #패킷 헤더 규격에 맞게 분리
            globals()['log_' + str(i) + 'bytes_distance_' + str(j)]["Start delimiter"] = globals()['log_' + str(i) + 'bytes_distance_' + str(j)].Data.str[:2]
            globals()['log_' + str(i) + 'bytes_distance_' + str(j)]["Length"] = globals()['log_' + str(i) + 'bytes_distance_' + str(j)].Data.str[2:6]
            globals()['log_' + str(i) + 'bytes_distance_' + str(j)]["Frame type"] = globals()['log_' + str(i) + 'bytes_distance_' + str(j)].Data.str[6:8]
            globals()['log_' + str(i) + 'bytes_distance_' + str(j)]["16-bit source address"] = globals()['log_' + str(i) + 'bytes_distance_' + str(j)].Data.str[8:12]
            globals()['log_' + str(i) + 'bytes_distance_' + str(j)]["RSSI"] = globals()['log_' + str(i) + 'bytes_distance_' + str(j)].Data.str[12:14]
            globals()['log_' + str(i) + 'bytes_distance_' + str(j)]["Options"] = globals()['log_' + str(i) + 'bytes_distance_' + str(j)].Data.str[14:16]
            globals()['log_' + str(i) + 'bytes_distance_' + str(j)]["RF data"] = globals()['log_' + str(i) + 'bytes_distance_' + str(j)].Data.str[16:-2]
            globals()['log_' + str(i) + 'bytes_distance_' + str(j)]["Checksum"] = globals()['log_' + str(i) + 'bytes_distance_' + str(j)].Data.str[-2:]
            
            #필요없는 기존 데이터 처리
            globals()['log_' + str(i) + 'bytes_distance_' + str(j)] = globals()['log_' + str(i) + 'bytes_distance_' + str(j)].drop(columns = "Data")
            
            #Length 16진수>>10진수 변환
            globals()['log_' + str(i) + 'bytes_distance_' + str(j)]["Length"] = globals()['log_' + str(i) + 'bytes_distance_' + str(j)]["Length"].apply(func)

In [13]:
packet_distance

['22.5m',
 '23.4m',
 '23.85m',
 '24.3m',
 '24.75m',
 '25.2m',
 '25.65m',
 '26.1m',
 '26.55m',
 '27m']

In [14]:
packet_table = pd.DataFrame({'22.5m':['0', '0']})
packet_table['23.4m'] = ['0', '0']
packet_table['23.85m'] = ['0', '0']
packet_table['24.3m'] = ['0', '0']
packet_table['24.75m'] = ['0', '0']
packet_table['25.2m'] = ['0', '0']
packet_table['25.65m'] = ['0', '0']
packet_table['26.1m'] = ['0', '0']
packet_table['26.55m'] = ['0', '0']
packet_table['27m'] = ['0', '0']

packet_table.index = ['20bytes', '114bytes']

In [15]:
packet_table

         22.5m 23.4m 23.85m 24.3m 24.75m 25.2m 25.65m 26.1m 26.55m 27m
20bytes      0     0      0     0      0     0      0     0      0   0
114bytes     0     0      0     0      0     0      0     0      0   0

In [16]:
prr_table = packet_table.copy()

In [17]:
import math

for i, k in zip(packet_bytes, packet_bytes_list):
    for j, m in zip(packet_distance_name, packet_distance): #거리 목록, 분할 바이트 수
        if not globals()['log_' + str(i) + 'bytes_distance_' + str(j)].empty: 
#             print(f"{i}, {j}") #디버깅용
            send_data = 1000000
            whole_packet = 500 #몇 번 보냈는가?
            
            missed_packet = whole_packet - globals()['log_' + str(i) + 'bytes_distance_' + str(j)].shape[0] #누락 패킷 탐지
#             print(missed_packet) #누락 패킷 개수
    
#             abnormal_packet_rate = (missed_packet + len(globals()['log_' + str(i) + 'byte_distance_' + str(j)]["Length"][globals()['log_' + str(i) + 'byte_distance_' + str(j)]["Length"] != int(i) + 5])) / whole_packet
            #비정상 패킷 비율 = (누락 패킷 + 길이가 다른 수신 패킷) / 전체 패킷
    
            abnormal_packet_rate = missed_packet / whole_packet
            #비정상 패킷 비율 = 누락 패킷 / 전체 패킷
            #prr = 1 - 비정상 패킷 비율
#             print(abnormal_packet_rate)
            
            prr_table[m][k] = 1 - abnormal_packet_rate
            #prr 테이블 갱신
                        
            total_send = math.ceil((send_data / int(i)) + (send_data / int(i)) * abnormal_packet_rate)
#             print(total_send)
            #재전송을 포함한 전체 전송율 (소수로 나눠지는 경우 올림처리)
            #정상 전송 + 재전송 횟수
            
            globals()['log_' + str(i) + 'bytes_distance_' + str(j)]["RSSI"] = globals()['log_' + str(i) + 'bytes_distance_' + str(j)]["RSSI"].apply(func)
            # RSSI의 쉬운 계산을 위해 16진수에서 10진수로 변환
        
            packet_table[m][k] = total_send
            # 총 전송 횟수 테이블 갱신
        
        else:  #만약 0인 경우?
            packet_table[m][k] = None
            prr_table[m][k] = None

# PRR 테이블

뭔가 이상한데

In [18]:
prr_table

          22.5m  23.4m 23.85m  24.3m 24.75m  25.2m 25.65m  26.1m 26.55m   27m
20bytes    0.95  0.748   0.94  0.846   0.17  0.094  0.854  0.784  0.772  None
114bytes  0.882  0.892   0.89  0.874  0.072  0.074  0.064  0.024  0.024  None

# 재전송을 포함한 전체 전송 횟수

1,000,000bytes의 데이터를 보낼 때 10bytes, 114bytes로 분할

In [19]:
packet_table

,22.5m,23.4m,23.85m,24.3m,24.75m,25.2m,25.65m,26.1m,26.55m,27m
20bytes,105000,125200,106000,115400,183000,190600,114600,121600,122800,None
114bytes,9808,9720,9737,9878,16913,16895,16983,17334,17334,None

In [20]:
import math

RSSI_mean_list = []

RSSI_mean_list_temp = []
RSSI_max_list_temp = []
RSSI_min_list_temp = []

RSSI_min_max_list = []

for j, m in zip(packet_distance_name, packet_distance): #거리 목록, 분할 바이트 수
    for i, k in zip(packet_bytes, packet_bytes_list):
        if not globals()['log_' + str(i) + 'bytes_distance_' + str(j)].empty: 

            RSSI_max_list_temp.append(globals()['log_' + str(i) + 'bytes_distance_' + str(j)]["RSSI"].max())
            RSSI_min_list_temp.append(globals()['log_' + str(i) + 'bytes_distance_' + str(j)]["RSSI"].min())
            RSSI_mean_list_temp.append(globals()['log_' + str(i) + 'bytes_distance_' + str(j)]["RSSI"].mean())
    
    if not globals()['log_' + str(i) + 'bytes_distance_' + str(j)].empty: 

        RSSI_mean_list.append(np.mean(RSSI_mean_list_temp)) #평균
        RSSI_mean_list_temp = []
        RSSI_min_max_list.append(str(min(RSSI_min_list_temp)) + ' ~ ' + str(max(RSSI_max_list_temp)))

        RSSI_max_list_temp = []
        RSSI_min_list_temp = []

In [21]:
RSSI_mean_list.append(0)
RSSI_min_max_list.append(0)

# RSSI 최소-최대, 평균, 거리가 포함된 PRR 테이블

In [22]:
prr_table

prr_table.columns = pd.MultiIndex.from_tuples(
    zip(RSSI_min_max_list, np.round(RSSI_mean_list, 3), prr_table.columns))

prr_table.style.set_properties(**{'text-align': 'right'}) #columns 보기 쉽게 정렬

pd.options.display.float_format = '{:.3f}'.format #소수점 아래 3자리까지만

In [23]:
print(packet_bytes_list)
print(packet_bytes)

['20bytes', '114bytes']
[10, 114]

In [24]:
prr_table

,81 ~ 85,81 ~ 93,81 ~ 86,84 ~ 91,80 ~ 90,89 ~ 93,86 ~ 94,87 ~ 94,89 ~ 92,0
,84.837,88.210,84.190,86.818,87.523,92.320,88.634,90.768,91.166,0.000
,22.5m,23.4m,23.85m,24.3m,24.75m,25.2m,25.65m,26.1m,26.55m,27m
20bytes,0.950,0.748,0.940,0.846,0.170,0.094,0.854,0.784,0.772,None
114bytes,0.882,0.892,0.890,0.874,0.072,0.074,0.064,0.024,0.024,None

# 헤더를 포함한 전체 전송 바이트

In [25]:
for i, j in zip(packet_bytes_list, packet_bytes):
    packet_table.loc[i] = packet_table.loc[i] * (int(j) + 9) # 9는 헤더 길이
    # print(int(j) + 9)
    
packet_table

,22.5m,23.4m,23.85m,24.3m,24.75m,25.2m,25.65m,26.1m,26.55m,27m
20bytes,1995000,2378800,2014000,2192600,3477000,3621400,2177400,2310400,2333200,NaN
114bytes,1206384,1195560,1197651,1214994,2080299,2078085,2088909,2132082,2132082,NaN